
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ======= Share style ========== */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 45px;
    font-weight: 800;
}

.color-orange{
    color: #fd6e0a;
}
.btn{
    background-color: #FD6E0A;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.btn-alter{
    background-color: #FFF8F3;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.section-heading{
    margin: 0 auto;
    max-width: 827px;
    text-align: center;
}
.section-heading h2{
    margin-bottom: 30px;
    font-size: 35px;
    color: #181818;
    font-weight: bold;
}
.section-heading p{
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}




/* ========== main style =========== */

header{
    background-color: #FFF8F3;
    background: url('../images/developer.png'), url('../images/header_bg.png'), #FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding-top: 50px;
}

/* navigation bar */

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

nav .menu{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 51px;
}

nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

/* banner */
#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 700px;
}

#banner .banner-content h2{
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    font-size: 85px;
    color: #181818;
    font-weight: bold;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-content .dbl-btn{
    display: flex;
    gap: 30px;
}

#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}

/* about section */
#about, #skills, #resume{
    padding-top: 130px;
}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    padding: 131px 157px;
    background-color: #FFF8F3;
    margin: 0 auto;
    text-align: center;
}

#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

#about .about-container .about-info .info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
#about .about-container .about-info .info-card h2{
    font-size: 20px;
    color: #474747;
    font-weight: bold;
}



/* skill section */
/* #skills{
    padding-top: 130px;
} */
#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

#skills .skills-container .skill-box{
    display: flex;
    /* border: 1px solid red; */
    gap: 24px;
}

.skill-box .skill-card{
    padding: 30px;
    /* border: 1px solid black; */
    max-width: 267px;
    box-shadow: 0px 6px 50px 0 #0000001c
}

.skill-box .skill-card img{
    max-width: 44px;
    margin-bottom: 30px;

}
.skill-box .skill-card h2{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.skill-box .skill-card p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}



/* Resume section */
/* #resume{
    padding-top: 130px;
} */

#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;

}
.resume-container hr{
    margin: 30px 0;
}
#resume .resume-container .section-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
}

.resume-card{
    max-width: 511px;
    margin-right: 47px;

}
.resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    color:#474747;
    margin-bottom: 10px;
}
.resume-card .card-info{
    font-size: 20px;
    font-weight: 600;
    color:#757575;
    margin-bottom: 20px;
}
.resume-card .card-text{
    font-size: 16px;
    color:#757575;
    margin-bottom: 20px;
    line-height: 28px;
}
#resume .button{
    text-align: center;
    margin-top: 50px;
}
