
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ======= Share style ========== */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 45px;
    font-weight: 800;
}

.color-orange{
    color: #fd6e0a;
}
.btn{
    background-color: #FD6E0A;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.btn-alter{
    background-color: #FFF8F3;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}


/* ========== main style =========== */

header{
    background-color: #FFF8F3;
    background: url('../images/developer.png'), url('../images/header_bg.png'), #FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding-top: 50px;
}

/* navigation bar */

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

nav .menu{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 51px;
}

nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

/* banner */
#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 700px;
}

#banner .banner-content h2{
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    font-size: 85px;
    color: #181818;
    font-weight: bold;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-content .dbl-btn{
    display: flex;
    gap: 30px;
}

#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}