
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ======= Share style ========== */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 45px;
    font-weight: 800;
}

.color-orange{
    color: #fd6e0a;
}
.btn{
    background-color: #FD6E0A;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
}


/* ========== main style =========== */

header{
    background-color: #FFF8F3;
    padding-top: 50px;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

nav .menu{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 51px;
}

nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}